{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}Dashboard Summary{% endblock %}

{% block main %}
    <div class="row">
        <div class="col-md-4">
            <div class="card bg-primary text-white p-3 shadow-sm">
                <h5>Total Products</h5>
                <h2>{{ products|length }}</h2>
            </div>
        </div>
        
    </div>
{% endblock %}