{% extends '@EasyAdmin/Page/Content.html.twig' %}

{% block page_title %}Dashboard{% endblock %}

{% block page_content %}
     <h2>welcome, Admin!</h2>
     <p>This is my Custom dashboard.</p>
{% endblock %}     