{% set grouped = {} %}

{% for value in product.attributeValues %}
    {% set attrName = value.attribute.name %}

    {% if grouped[attrName] is not defined %}
        {% set grouped = grouped|merge({ (attrName): [] }) %}
    {% endif %}

    {% set grouped = grouped|merge({
        (attrName): grouped[attrName]|merge([value.value])
    }) %}
{% endfor %}

{% for attr, values in grouped %}
    <strong>{{ attr }}</strong>
    <ul>
        {% for val in values %}
            <li>{{ val }}</li>
        {% endfor %}
    </ul>
{% endfor %}
